<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart Farm"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FunctionActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ControlActivity"
            android:parentActivityName=".FunctionActivity"/>
        <activity android:name=".InspectActivity"
            android:parentActivityName=".FunctionActivity"/>
        <activity android:name=".DataSensor1"
            android:parentActivityName=".FunctionActivity"/>
        <activity android:name=".DataSensor2"
            android:parentActivityName=".FunctionActivity"/>
        <activity android:name=".setAlarm"
            android:parentActivityName=".alarmList"/>
        <activity android:name=".alarmList"
            android:parentActivityName=".ControlActivity"/>
        <receiver android:name=".AlarmReceiver"
            android:enabled="true"/>
    </application>

</manifest>